body {
    background-color: #D3DBE4;
}

#questionDiv {
    background-color:#C2E0FF;
    text-align: center;
    color: black;
    font-family: "Verdana", Geneva, sans-serif;
    width: 710px;
    margin-left: auto;
    margin-right:auto;  
}

#questionButtonGroup{
    width: 710px;
    margin-left: auto;
    margin-right:auto;
    height: 80%;   
    }

.questionButtons {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #1578db) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #1578db 100% );
	background-color:#79bbff;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:70px;
	line-height:40px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #4699eb;
}
.questionButtons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1578db), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #1578db 5%, #79bbff 100% );
	background-color:#1578db;
}
.questionButtons:active {
        position: relative;
        top: 1px;
    }

#mainMenuDiv {
    margin-left:auto;
    margin-right:auto;
    width:35%;
}
.mainMenuButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	background-color:#b8e356;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:300px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}
.mainMenuButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	background-color:#a5cc52;
}
.mainMenuButtons:active {
        position: relative;
        top: 1px;
    }
.Grid { 
    width: 70%; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
    margin-left:auto;
    margin-right:auto;
}
.Grid td { 
    padding: 2px; 
    border: solid 1px #c1c1c1; 
    color: #717171; 
}
.Grid th { 
    padding: 4px 2px; 
    color: #fff; 
    background: #424242; 
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
}
.Grid .alt { background: #fcfcfc; }
.Grid .pgr { background: #424242; }
.Grid .pgr table { margin: 5px 0; }
.Grid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
 }   
.Grid .pgr a { color: #666; text-decoration: none; }
.Grid .pgr a:hover { color: #000; text-decoration: none; }


